[package]
name = "bot"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
irc_core = { version = "0.1.0", path = "../irc_core" }
tokio = { version = "1.48.0", features = ["full"] }
